@model IEnumerable<KwikKwekSnek.Models.Drankje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.afbeelding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prijs)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="/image/@item.afbeelding" class="img-fluid" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijs)
            </td>
            <td>
                <a asp-action="Bestelextrasdrankjes" asp-route-id="@item.ID" asp-route-bestellingsnummer="@ViewBag.bestellingsnummer">voeg toe aan bestelling</a>
            </td>
            <td>
                <input type="hidden" name="bestellingsnummer" value="@ViewBag.bestellingsnummer">
                @ViewBag.bestellingsnummer
                @ViewBag.id

            </td>
        </tr>
}
    </tbody>
</table>
